---
layout: default
title: FiveTech Software tech support forums &bull; Index page
---

<div class="forums">
   {% for category in site.categories %}
      {% assign first_post = category[ 1 ] | first %}
      {% assign last_post = category[ 1 ] | last %}
      {% assign first_post_last_category = first_post.categories | last %}
      {% assign last_post_last_category = last_post.categories | last %}
      {% if first_post_last_category == last_post_last_category %}	
         <div class="col-sm-9" style="background-color:#D5E1EA; height: 50px; border-top: 1px solid #FFFFFF; border-bottom: 1px solid #00608F;">	
            <a href="/forums/{{forum}}/{{ category[ 0 ] }}">{{ category[ 0 ] | replace: "_", "/" }}</a> ( {{ category[ 1 ].size }} )
         </div>
      {% else %}
	 <h4 class="col-sm-9">{{ category[ 0 ] | capitalize | replace: "_", " " }}</h4>
	 {% assign forum = category[ 0 ] %}
      {% endif %} 	
   {% endfor %}
</div> <!-- forums -->
