<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ page.title }}</title>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <style>
    header {
      background-color: #03A9f4;
      padding: 25px;
    }
    
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

<header style="padding: 20px;">
  <table>
     <tr>
        <td width="30%"><img src="{{site.url}}/{{site.baseurl}}/images/site_logo.gif" alt="FiveTech Software"></td>
        <td width="70%"><h2 style="color:white;">FiveTech Software tech support forums</h2></td>
     </tr>
     <tr>
        <td></td>  
        <td><h3 style="color:white;">www.FiveTechSoft.com</h3></td>
     </tr>
  </table>
</header>
  
<div class="container-fluid bg-3">    
  {{ content }}
</div><br>

<footer class="container-fluid text-center" style="vertical-align: bottom;">
  <a href="https://fivetechsoft.github.io/forums">Board index</a>
</footer>

</body>
</html>
