---
layout: default
title: FiveTech Software tech support forums &bull; View forum - FiveWin for Harbour/xHarbour
---

<h3>FiveWin for Harbour/xHarbour</h3>

{% assign cat = "FiveWin for Harbour_xHarbour" %}

<div class="posts">
   {% for post in site.categories[ cat ] %}
      <div class="col-sm-9" style="background-color:#D5E1EA; height: 50px; border-top: 1px solid #FFFFFF; border-bottom: 1px solid #00608F;">	
         <a href="/forums{{post.url}}">{{ post.title }}</a><br>
         by <span style="color:red;">{{ post.tag }}</span> >> {{ post.date }}
      </div>
   {% endfor %}
</div> <!-- posts -->

